<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name%>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "ルームを出る", shop_rooms_path(@shop) %>
    </div>
  </div>
</div>

<div class="messages">
  <div class="chat__wrapper">
    <div class="chat__content">
      <% @messages.each do |message| %>
      <%# --自分のメッセージ-- %>
        <% if message.user_id == current_user.id %>
        <div class="chat__message__content" data-message-id= <%=message.id %>>
          <div class="chat__message__right">
            <%# image_tag current_user.picture.url, id: "message__right__user__image" %>
            <div class="chat__message__right__content">
              <%= message.content %> 
            </div>
          </div>
          <div class="message__right__created">
            <%= message.created_at.strftime("%m月%d日 %H時%M分") %>
          </div>
        </div>
        <% else %>
        <%# --相手のメッセージ-- %>
        <div class="chat__message__content" data-message-id= <%=message.id %>>
          <div class="chat__msessage__left">
            <%# image_tag message.user.picture.url, id: "message__left__user__image" %>
            <%= message.user.nickname %>
            <div class="chat__message__left__content">
              <%= message.content %> 
            </div>
            <%= image_tag message.image, class: 'message-image' %>
            <div class="message__left__created">
            <%= message.created_at.strftime("%m月%d日 %H:%M") %>
            </div> 
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= form_with model: [@shop, @room, @message], html: {class: "form"}, local: true do |f|%>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
