<%= render "shared/header_show" %>
<div class='show-header'>
  <div class='show-title'>
    <div class='shop-category'>
      <p>~<%= @shop.category %>~</p>
    </div>

    <div class='shop-name'>
      <%= @shop.name %>
    </div>
  </div>

  <div class='show-menu'>
    <div class='shop-tel'>
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-forward" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z"/>
      </svg>
      <%= @shop.tel %>
    </div>

    <div class='shop-pr_short'>
      <%= @shop.pr_short %>
    </div>
    
    <div class='show-link'>
      <%= link_to 'チャットルームへ', shop_rooms_path(@shop), class: "show-link-btn" %>

      <% if !Favorite.exists?(user_id:current_user.id,shop_id:@shop.id) %>
        <%= link_to "お気に入り",shop_favorites_path(@shop),method: :post, class: "show-link-btn" %>
      <% else %>
        <%= link_to "お気に入り解除",shop_favorites_path(@shop),method: :delete, class: "show-link-btn" %>
      <% end %>
    </div>
  </div>
</div>

<div class='shop-img'>
  <% @shop.images.each do |image| %>
    <div class='shop-img-count'>
      <%= image_tag image.src, size: '300x250'%>
    </div>
  <% end %>
</div>


<table>
  <tr>
    <th>営業時間</th>
    <td><%= @shop.open_time %></td>
  </tr>
  <tr>
    <th>定休日</th>
    <td><%= @shop.holiday %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @shop.tel %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @shop.address %></td>
  </tr>
    <th>PR</th>
    <td><%= @shop.pr_long %></td>
  </tr>
  </tr>
    <th>URL</th>
    <td><%= link_to @shop.url, @shop.url %></td>
  </tr>
</table>





<h3>アクセス</h3>

<div id='show_map'>
</div>

<script>
  // 現在地取得処理
  function initMap() {
    // Geolocation APIに対応している
    if (navigator.geolocation) {
      // 現在地を取得
      navigator.geolocation.getCurrentPosition(
        // 取得成功した場合
        function(position) {
          // 緯度・経度を変数に格納
          const mapLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          // マップオプションを変数に格納
          const mapOptions = {
            zoom : 14,          // 拡大倍率
            center : mapLatLng  // 緯度・経度
          };
          const test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
          const contentString = '住所：<%= @shop.address %>';
          // マップオブジェクト作成
          const map = new google.maps.Map(
            document.getElementById("show_map"), // マップを表示する要素
            mapOptions         // マップオプション
          );
          // マップにマーカーを表示する
          const marker = new google.maps.Marker({
            map : map,             // 対象の地図オブジェクト
            position : mapLatLng,   // 緯度・経度
            icon: {
            url: ' http://maps.google.co.jp/mapfiles/ms/icons/red-pushpin.png', //アイコンのURL
            scaledSize: new google.maps.Size(40, 40) //サイズ
            }
          });
          const marker_shop = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString,
            icon: {
            url: ' http://maps.google.com/mapfiles/kml/pal2/icon19.png', //アイコンのURL
            scaledSize: new google.maps.Size(40, 40) //サイズ
            }
          });
        },
        // 取得失敗した場合
        function(error) {
          // エラーメッセージを表示
          switch(error.code) {
            case 1: // PERMISSION_DENIED
              alert("位置情報の利用が許可されていません");
              break;
            case 2: // POSITION_UNAVAILABLE
              alert("現在位置が取得できませんでした");
              break;
            case 3: // TIMEOUT
              alert("タイムアウトになりました");
              break;
            default:
              alert("その他のエラー(エラーコード:"+error.code+")");
              break;
          }
        }
      );
    // Geolocation APIに対応していない
    } else {
      alert("この端末では位置情報が取得できません");
    }
  }
</script>
