<div class="side-bar-header">
  <div class="header-shop">
    <%= image_tag @shop.images[0].src.to_s, class: "header-shop-img", :size =>'200x160' %>
    <p class="header-shop-category">〜<%= @shop.category %>〜</p>
    <p class="header-shop-name"><b><%= @shop.name %></b></p>
  </div>
  <div class="header-info">
    <div class="header-name">
      <%= link_to current_user.nickname, user_path(current_user.id) %>
    </div>
    <div class="create-room">
      <%= link_to "チャットを作成する", new_shop_room_path %>
    </div>
  </div>
</div>

<div class="rooms">
  <% @rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, shop_room_messages_path(room.shop_id, room.id) %>
      </div>
    </div>
  <% end %>
</div>